<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: #050a4c;
    }
    .container-fluid {
        padding-top: 50px;
        color: white;
    }
</style>
</head>
<body>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <form action="/createnewpassword" method="post" onsubmit="return validateForm()" class="text-center p-5 bg-dark rounded">
        <h1>RESET PASSWORD</h1>
        <h4 th:text="${message}"></h4>
        <input type="hidden" name="email" th:value="${email}" class="form-control mb-4" />
        <label>Enter your temporary password</label>
        <input type="text" name="temporarypassword" class="form-control mb-4">
        <label>Enter your new password</label>
        <input type="password" id="password" name="password" class="form-control mb-4">
        <label>Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmpassword" class="form-control mb-4">
        <input type="submit" value="Submit" class="btn btn-primary btn-block my-4">
        <h4 id="errorText"></h4>
    </form>
</div>

<script>
function validateForm() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    if (password != confirmPassword) {
        document.getElementById("errorText").innerText = "New password and confirm password do not match.";
        return false;
    }
    return true;
}
</script>
</body>
</html>

