<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: #050a4c;
    }
    .container-fluid {
        padding-top: 50px;
        color: white;
    }
</style>
</head>
<body>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <h1 th:text=${message}></h1>
</div>
</body>
</html>
