<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: #050a4c;
    }
    .container-fluid {
        padding-top: 50px;
        color: white;
    }
</style>
</head>
<body>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <form action="/resetpassword" method="post" class="text-center p-5 bg-dark rounded">
        <h1>GET TEMPORARY PASSWORD</h1>
        <label>Enter your email</label>
        <input type="text" name="email" class="form-control mb-4"><br>
        <h4 th:text=${message}></h4>
        <input type="submit" value="Submit" class="btn btn-primary btn-block my-4">
    </form>
</div>
</body>
</html>
