<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: #050a4c;
    }
    .container-fluid {
        padding-top: 50px;
        color: white;
    }
</style>
</head>
<body>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <form action="/signup" method="post" class="text-center p-5 bg-dark rounded">
        <h1 th:text="${message}"></h1>
        <label>User Name</label>
        <input type="text" name="username" class="form-control mb-4"><br> 
        <label>E-mail</label>
        <input type="text" name="email" class="form-control mb-4"><br>
        <label>Password</label>
        <input type="password" name="password" class="form-control mb-4"><br>
        <input type="submit" value="Submit" class="btn btn-primary btn-block my-4">
        <h1 th:text="${notmatch}"></h1>
    </form>
</div>
</body>
</html>
